.navbar {
    background-color: green;
}

#nav-header{
    color: yellow;
    font-size: 35px;
    font-family: 'Playball', cursive;
}

 #nav-text{
     color: white;
     font-size: 25px;
     font-family: 'PT Sans Narrow',
     sans-serif;
 }

 #nav-options{
    color: yellow;
    font-family: 'PT Sans Narrow',
    sans-serif;
    font-size: 25px;
 }

@media screen and (max-width: 768px) {
    .navbar {
        width: 100%;
    }

    #nav-header, #nav-text, #nav-options {
        font-size: 24px;

    }

    #nav-options {
        float: none;
        text-align: left;
        align-content: left;
    }

    .dropdown-menu, .dropdown-item {
        float: none;
        align-items: center;
        align-content: center;
    }
}