body {
    box-sizing: border-box;
    margin-bottom: 20px;
    background-image: url("./assets/diamond.jpg");
    background-color: #cccccc;
    height: 700px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center bottom;
}

.container {
    max-width: 1200px;
}

.cards {
    margin-top: 20px;
    margin-bottom: 20px;
}

.card {
    border: 0;
    background-color: transparent;
}

.card-body{
    border-radius: 0em;
    background-color: black;
}

.card-img {
    border-radius: 0em;
}

.card-title {
    color: yellow;
    font-size: 30px;
}

.card-text {
    color: rgb(211, 207, 207);
    margin-top: 40px;
    font-size: 24px;
}

.carousel {
    border-radius: 5px;
    padding: 10px;
    max-width: 90%;
    max-height: 90%;
    margin-bottom: 30px;
}

#about-header {
    color: yellow;
}

#about {
    font-weight: 700;
}


