body {
    box-sizing: border-box;
    margin-bottom: 20px;
    background: rgb(6,136,24);
    background: radial-gradient(circle, rgba(6,136,24,1) 0%, rgba(255,255,0,1) 100%);
}

.container {
    max-width: 1200px;
}

.carousel {
    padding: 10px;
    max-width: 90%;
    max-height: 90%;
    margin-bottom: 30px;
}

#about-header {
    color: yellow;
}

#about {
    font-weight: 700;
}


