body {
    box-sizing: border-box;
    margin-bottom: 20px;
    background-image: url("./assets/diamond.jpg");
    background-color: #cccccc;
    height: 700px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center bottom;
}

.container {
    max-width: 1200px;
}

.carousel {
    padding: 20px;
    max-width: 65%;
    max-height: 65%;
    margin-bottom: 30px;
}

#about-header {
    color: yellow;
}

#about {
    font-weight: 700;
}


