.form-container {
    background-color: green;
    padding: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 700px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    font-family: 'PT Sans Narrow',
    sans-serif;
}

.contact-card, .signup-card, .login-card, .members, .schedule {
    background-color: white;
}

.member-title {
    
}