.jumbotron {
    margin-bottom: 0px;
    background-image: url(../../assets/softball.jpeg); 
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.2em 0.2em 0.2em;
    /* height: 100px;
    width: 80%; */
}

.display-2 {
    color: green;
    margin:
}